$primary-color: #FF5634;
$secondary-color: #e13f1f;
$grey-color: #656565;
$grey-light-color: #fafafa;
$black-color: #121212;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  color: $grey-color;
  font-family: Metropolis, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}


h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: $black-color;
  line-height: 1.161em;
}

img {
  max-width: 100%;
}



.principal-button {
  padding: 26px 38px;
  font-weight: 700;
  line-height: 1.111em;
  text-decoration: none;
  text-align: center;
  transition: color .3s, background-color .3s;
  border-radius: 16px;
  background-color: $primary-color;
  color: #fff;
  border: none;
  display: block;
  font-size: 18px;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
  }
}

.principal-button.white {
  background-color: #fff;
  color: $black-color;
  border: 1px solid #eee;
  font-weight: 500;

  &:hover {
    background-color: $primary-color;
    color: #fff;
    border-color: $primary-color;
  }
}


.inner-container {
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;
}


.header {
  padding: 14px 22px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 #10101014;

  @media (width <=991px) {
    box-shadow: none;
    padding: 0;
  }


  &__inner {
    position: relative;
    z-index: 100;
    height: 76px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 16px;


    @media (width <=991px) {
      grid-template-columns: auto auto;
      justify-content: space-between;
      background-color: #fff;
      box-shadow: 0 2px 12px 0 #10101014;
      padding: 14px 22px;
    }
  }

  &__brand {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;


    &--name {
      color: $black-color;
      font-weight: 700;
      font-size: 22px;
    }
  }

  &__nav {
    justify-self: end;

    @media (width <=991px) {
      display: none;
    }

    &__list {
      display: flex;
      gap: 28px;
      list-style: none;

      &--item {
        margin: 0;
      }

      &--link {
        color: $black-color;
        text-decoration: none;
        font-weight: 500;

        &.is-active {
          color: $primary-color;
        }
      }

      &--submenu {
        position: relative;
      }

      &--trigger {
        background: none;
        border: 0;
        font: inherit;
        cursor: pointer;
        color: $black-color;
      }
    }

    &__submenu {
      position: absolute;
      top: 120%;
      left: 0;
      background: #fff;
      box-shadow: 0 2px 12px 0 #10101014;
      border-radius: 12px;
      padding: 12px;
      list-style: none;

      &--item {}

      &--link {
        display: block;
        padding: 8px 12px;
        color: $black-color;
        text-decoration: none;
        border-radius: 8px;

        &:hover {
          background-color: $grey-light-color;
        }
      }
    }
  }

  &__actions {
    display: inline-flex;
    align-items: center;
    gap: 12px;

    @media (width <=991px) {
      display: none;
    }

    &--cart {
      color: $black-color;
      text-decoration: none;
      margin-right: 6px;
    }

    &--download,
    &--register {
      padding: 18px 24px;
      font-size: 16px;
      border-radius: 12px;

    }


  }

  &__toggle {
    display: none;

    @media (width <=991px) {
      display: inline-flex;
    }

    background: none;
    border: 0;
    cursor: pointer;
    padding: 12px;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;


    position: relative;

    &--bar {
      position: absolute;
      left: 11px;
      right: 11px;
      height: 2px;
      background: $black-color;
      border-radius: 2px;
      transition: transform .25s ease, opacity .2s ease, top .25s ease;
      content: "";
      display: block;
    }

    &--bar:nth-child(1) {
      top: 16px;
    }

    &--bar:nth-child(2) {
      top: 22px;
    }

    &--bar:nth-child(3) {
      top: 28px;
    }

    &[aria-expanded="true"] .header__toggle--bar:nth-child(1) {
      transform: translateY(6px) rotate(45deg);
    }

    &[aria-expanded="true"] .header__toggle--bar:nth-child(2) {
      opacity: 0;
    }

    &[aria-expanded="true"] .header__toggle--bar:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }

    &:focus-visible {
      outline: 2px solid #ddd;
      outline-offset: 2px;
      border-radius: 8px;
    }
  }

  &__drawer {
    z-index: 90;
    position: fixed;
    top: 0;
    height: 100dvh;
    left: 0;
    right: 0;
    background: #fff;
    padding: 20px;
    padding-top: 100px;

    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 24px;
    box-shadow: 0 2px 12px 0 #10101014;
    transition: top .3s;

    &[aria-hidden="true"],
    &[hidden] {
      top: -100%;
    }

    @media (width > 991px) {
      display: none !important;
    }



    &__nav {
      &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 28px;

        &--link {
          color: $black-color;
          text-decoration: none;
          font-size: 22px;
          font-weight: 700;

          &.is-active {
            color: $primary-color;
          }
        }
      }
    }

    &__submenu {
      &--summary {
        list-style: none;
        cursor: pointer;
        font-size: 22px;
        font-weight: 700;
        color: $black-color;
      }

      &__list {
        list-style: none;
        padding-left: 16px;
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        &--link {
          color: $black-color;
          text-decoration: none;
        }
      }
    }

    &__cta {
      align-self: end;

      &--button {
        width: 100%;
        text-align: center;
      }
    }
  }
}


.hero {
  padding-top: 70px;
  padding-bottom: 106px;
  overflow: hidden;

  background-color: $grey-light-color;


  &__about {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    padding-bottom: 60px;

    @media (width <=991px) {


      grid-template-columns: 1fr;
      gap: 2rem;
      text-align: center;

      margin: 0 auto;
      max-width: 680px;

    }


    &__text {


      &--strong {

        color: $primary-color;
        text-transform: uppercase;
        display: block;
        margin-bottom: 10px;
        font-size: 18px;

        @media (width <=767px) {

          font-size: 16px;
        }
      }

      &--title {

        margin-bottom: 16px;
        font-size: 62px;


        @media (width <=767px) {

          margin-bottom: 10px;
          font-size: 43px;
        }
      }

      &--paragraph {
        font-size: 18px;

        @media (width <=767px) {

          font-size: 16px;
        }
      }
    }



    &__img {

      @media (width <=991px) {

        max-width: 500px;
        margin: 0 auto;

      }

      position: relative;
      width: 100%;

      &--principal {
        width: 100%;
        height: auto;
        object-fit: cover;
      }


      &--secondary {
        border-radius: 16px;
        max-width: 45%;
        position: absolute;
        bottom: 88px;
        left: -18px;

        @media (width <=767px) {

          max-width: 40%;
          left: -2px;
        }
      }


      &--tertiary {
        border-radius: 16px;
        max-width: 55%;
        position: absolute;
        bottom: 46px;
        right: -52px;

        @media (width <=767px) {

          max-width: 50%;
          right: -15px;
        }
      }
    }
  }


  &__stats {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;

    @media (width <=767px) {
      gap: 40px;
      justify-content: center;
      grid-template-columns: repeat(2, auto);
    }

    &__item {
      text-align: center;

      &--strong {

        margin-bottom: 6px;
        display: block;
        color: $black-color;
        font-size: 56px;
        font-weight: 700;

        span {
          color: $primary-color;
        }

        @media (width <=991px) {

          font-size: 48px;
        }

        @media (width <=991px) {

          font-size: 40px;
        }


      }

      &--paragraph {

        font-size: 18px;

        @media (width <=767px) {


          font-size: 16px;
        }
      }

    }

  }


}




.about-us {
  padding-top: 166px;
  padding-bottom: 120px;


  @media (width <=991px) {
    padding-top: 138px;
    padding-bottom: 100px;

  }


  @media (width <=767px) {
    padding-top: 116px;
    padding-bottom: 80px;

  }

  .inner-container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;



    @media (width <=991px) {

      gap: 1.5rem;
      grid-template-columns: 1fr;
      margin: 0 auto;
      max-width: 680px;


    }
  }

  &__content {
    justify-self: end;
    max-width: 480px;

    @media (width <=991px) {

      max-width: 100%;
      justify-self: start;

      order: 1;

    }




    &--strong {

      color: $primary-color;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      font-size: 18px;

      @media (width <=767px) {

        font-size: 16px;
      }
    }

    &--title {

      margin-bottom: 16px;
      font-size: 44px;


      @media (width <=991px) {
        font-size: 32px;
      }


      @media (width <=767px) {

        margin-bottom: 10px;
        font-size: 28px;
      }
    }

    &--paragraph {
      font-size: 18px;

      @media (width <=767px) {

        font-size: 16px;
      }
    }


  }


  &__img {



    border-radius: 16px;

    @media (width <=991px) {

      order: 2;

    }
  }
}






.mission {
  padding-bottom: 166px;


  @media (width <=991px) {
    padding-bottom: 138px;

  }


  @media (width <=767px) {
    padding-bottom: 116px;

  }

  .inner-container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-items: center;



    @media (width <=991px) {

      gap: 1.5rem;
      grid-template-columns: 1fr;
      margin: 0 auto;
      max-width: 680px;


    }
  }

  &__content {


    &--strong {

      color: $primary-color;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      font-size: 18px;

      @media (width <=767px) {

        font-size: 16px;
      }
    }

    &--title {

      margin-bottom: 16px;
      font-size: 44px;


      @media (width <=991px) {
        font-size: 32px;
      }


      @media (width <=767px) {

        margin-bottom: 10px;
        font-size: 28px;
      }
    }

    &--paragraph {
      font-size: 18px;

      @media (width <=767px) {

        font-size: 16px;
      }
    }


  }


  &__img {



    border-radius: 16px;

  }
}




.journey {
  background-color: $grey-light-color;
  padding-top: 166px;
  padding-bottom: 166px;

  @media (width <=991px) {
    padding-top: 138px;
    padding-bottom: 138px;

  }


  @media (width <=767px) {
    padding-top: 116px;
    padding-bottom: 116px;

  }

  .inner-container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    gap: 2rem;



    @media (width <=991px) {

      gap: 1.5rem;
      grid-template-columns: 1fr;
      margin: 0 auto;
      max-width: 680px;


    }
  }

  &__content {
    align-self: start;

    top: 160px;
    position: sticky;

    @media (width <=991px) {

      position: static;
      top: auto;

    }

    &--strong {

      color: $primary-color;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      font-size: 18px;

      @media (width <=767px) {

        font-size: 16px;
      }
    }

    &--title {

      margin-bottom: 16px;
      font-size: 44px;


      @media (width <=991px) {
        margin-bottom: 12px;
        font-size: 32px;
      }


      @media (width <=767px) {
        font-size: 32px;
      }
    }

    &--paragraph {
      font-size: 18px;

      @media (width <=767px) {

        font-size: 16px;
      }
    }

    &--button {


      margin-top: 2rem;
    }


  }


  &__info {


    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__item {

      background-color: #fff;
      border-radius: 16px;
      padding: 60px 53px;
      box-shadow: 0 2px 12px 0 #10101014;


      @media (width <=767px) {
        padding: 42px 25px;
      }

      &--strong {

        color: $primary-color;
        text-transform: uppercase;
        display: block;
        margin-bottom: 10px;
        font-size: 22px;


        @media (width <=767px) {
          font-size: 20px;
        }
      }


      &--title {

        font-size: 24px;
        margin-bottom: 32px;

        @media (width <=991px) {
          margin-bottom: 24px;
          font-size: 22px;
        }
      }


      &--paragraph {
        font-size: 18px;

        @media (width <=767px) {

          font-size: 16px;
        }
      }
    }


  }


}




.partners {
  padding-top: 166px;
  padding-bottom: 166px;

  @media (width <=991px) {
    padding-top: 138px;
    padding-bottom: 138px;

  }


  @media (width <=767px) {
    padding-top: 116px;
    padding-bottom: 116px;

  }


  &__header {
    max-width: 700px;
    margin: 0 auto;

    text-align: center;
    margin-bottom: 110px;


    @media (width <=991px) {
      margin-bottom: 83px;
    }


    &--strong {

      color: $primary-color;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      font-size: 18px;

      @media (width <=767px) {

        font-size: 16px;
      }
    }

    &--title {

      margin-bottom: 16px;
      font-size: 44px;


      @media (width <=991px) {
        margin-bottom: 12px;
        font-size: 32px;
      }


      @media (width <=767px) {
        font-size: 32px;
      }
    }

    &--paragraph {
      font-size: 18px;

      @media (width <=767px) {

        font-size: 16px;
      }
    }


  }


  &__items {


    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    gap: 2rem;
    text-align: center;

    @media (width <=991px) {

      grid-template-columns: 1fr;
      max-width: 350px;
      margin: 0 auto;
    }


    &__item {


      &--img {
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;


        @media (width <=767px) {
          max-width: 150px;
          margin-bottom: 24px;
        }
      }

      &--title {
        font-size: 28px;
        margin-bottom: 16px;


        @media (width <=767px) {
          font-size: 23px;
        }
      }


      &--paragraph {
        font-size: 18px;

        @media (width <=767px) {

          font-size: 16px;
        }
      }
    }
  }




}



.news {
  background-color: $grey-light-color;
  padding-top: 166px;
  padding-bottom: 166px;

  @media (width <=991px) {
    padding-top: 138px;
    padding-bottom: 138px;

  }


  @media (width <=767px) {
    padding-top: 116px;
    padding-bottom: 116px;

  }


  &__header {
    max-width: 700px;
    margin: 0 auto;

    text-align: center;
    margin-bottom: 110px;


    @media (width <=991px) {
      margin-bottom: 83px;
    }


    &--strong {

      color: $primary-color;
      text-transform: uppercase;
      display: block;
      margin-bottom: 10px;
      font-size: 18px;

      @media (width <=767px) {

        font-size: 16px;
      }
    }

    &--title {

      margin-bottom: 16px;
      font-size: 44px;


      @media (width <=991px) {
        margin-bottom: 12px;
        font-size: 32px;
      }


      @media (width <=767px) {
        font-size: 32px;
      }
    }

    &--paragraph {
      font-size: 18px;

      @media (width <=767px) {

        font-size: 16px;
      }
    }


  }


  &__items {


    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;

    @media (width <=991px) {

      grid-template-columns: 1fr;
    }


    &__item {
      padding: 98px 66px;
      transition: box-shadow .3s, transform .3s;
      box-shadow: 0 2px 12px 0 #10101014;
      border-radius: 24px;
      background-color: #fff;

      &:hover {
        box-shadow: 0 6px 24px 0 #10101014;
        transform: translate3d(0, -5px, .01px);
      }

      @media (width <=767px) {
        padding: 48px 25px;
        border-radius: 20px;
      }

      &--icon {
        display: block;
        margin-bottom: 21px;


        // @media (width <=767px) {
        //   max-width: 150px;
        //   margin-bottom: 24px;
        // }
      }

      &--title {
        font-size: 28px;
        margin-bottom: 24px;


        @media (width <=767px) {
          font-size: 23px;
        }
      }

      &__footer {
        display: flex;
        justify-content: space-between;

        @media (width <=767px) {

          flex-direction: row-reverse;
        }


        &--link {
          font-size: 18px;
          color: $primary-color;
          display: flex;
          gap: 8px;
          font-weight: 700;
          text-decoration: none;

          @media (width <=767px) {

            font-size: 16px;
          }
        }


        &--date {
          font-size: 20px;
          font-weight: 500;
          color: $grey-color;

          @media (width <=767px) {

            font-size: 18px;
          }
        }
      }

    }
  }




}

.footer {
  background: #fff;
  padding-top: 100px;
  padding-bottom: 60px;

  &__top {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    align-items: center;

    @media (width <=991px) {
      grid-template-columns: 1fr;
    }
  }

  &__brand {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

  }



  &__top--description {
    grid-column: 1 / -1;
    max-width: 540px;
  }

  &__downloads {
    display: flex;
    gap: 16px;
    justify-self: end;

    @media (width <=991px) {
      justify-self: start;
      flex-direction: column;
      width: 100%;
    }

    &__button {
      display: inline-flex;
      align-items: center;
      gap: 10px;
      padding: 16px 22px;
      border-radius: 12px;
      background: $primary-color;
      color: #fff;
      text-decoration: none;

      &--icon {
        width: 20px;
        height: 20px;
      }

      &--text {
        font-weight: 700;
      }

      @media (width <=991px) {
        width: 100%;
        justify-content: center;
      }
    }
  }

  &__divider {
    height: 1px;
    background: #eee;
    margin: 40px 0 60px;
  }

  &__middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 40px;

    @media (width <=991px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__menu,
  &__utilities {
    &--title {
      display: block;
      margin-bottom: 20px;
      color: $black-color;
      font-weight: 700;
    }

    &__list {
      list-style: none;
      display: grid;
      gap: 14px;
    }

    &__list--link {
      color: $black-color;
      text-decoration: none;
      font-size: 18px;

      @media (width <=767px) {
        font-size: 16px;
      }
    }
  }

  &__locations {
    &--title {
      display: block;
      margin-bottom: 20px;
      color: $black-color;
      font-weight: 700;
    }

    &__list {
      list-style: none;
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(2, minmax(0, 1fr));

      @media (width <=767px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }

    &__list--item {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &__list--icon {
      width: 56px;
      height: 56px;
      border-radius: 12px;
      background: $grey-light-color;
    }

    &__list--name {
      color: $black-color;
      font-weight: 600;
    }

    @media (width <=991px) {
      grid-column: 1 / -1;
    }
  }

  &__bottom {
    margin-top: 60px;
    padding-top: 24px;
    border-top: 1px solid #eee;
    text-align: center;

    @media (width <=767px) {
      font-size: 16px;
    }

    &--copyright {
      margin-bottom: 10px;
    }

    &--credit {
      color: $grey-color;
    }

    &--link {
      color: $primary-color;
      text-decoration: none;
      font-weight: 500;

    }
  }
}
